<a href="/ideate/{{_id}}">
  <div class="project-card">
    <div class="cover-container">
      <div class="project-title">{{title}}</div>
      <div class="project-description">{{description}}</div>
    </div>
    <div class="project-info">
      {{#each members}}
      <img class="member-icon" src="http://{{profilePhoto}}"/>
      {{/each}}
    </div>
  </div>
</a>