<button class="btn" id="create-ideate"> +Create</button>
<div class="ideate-list-container">
  {{#each ideate}}
    {{> ideateListItem}}
  {{/each}}
</div>

<script src="/javascripts/ideate.js"></script>