<button class="btn" id="create-project"> +Create</button>
<div class="project-list-container">
  {{#each projects}}
    {{> ideateListItem}}
    <br>
  {{/each}}
</div>

<script src="/javascripts/ideateList.js"></script>