<div id="project-container">

  <div id="project-cover-image">

    {{!-- These are toggled buttons. --}}
    <button id="button-to-edit"><i class="fa fa-pencil"></i></button>
    <button id="button-save-changes" style="display:none;"><i class="fa fa-floppy-o"></i></button>

    <div id="project-title" class="can-edit-text">{{project.title}}</div>
    {{!-- TODO: Change this into uploaded dynamic canvas. --}}
    <img src="http://lorempixel.com/1200/400/"></img>

  </div>

  <div id="project-members">Under Construction: Project Members</div>

  <div id="project-description">
    <section class="sectionTitle">Description and Goals</section>
    <article class="can-edit-text contentWrapper">{{{project.description}}}</article>
  </div>

  <div id="project-gallery">
    <section class="sectionTitle">Gallery</section>

    {{!-- TODO: Later allow users to use own Gallery IDs from Flicker. --}}
    <div class="contentWrapper" style='position: relative; padding-bottom: 63%; height: 0; overflow: hidden;'><iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=62&size=big&speed=3&count=100&setId=72157623755425292&click=true&caption=true&counter=true&trans=1&theme=1&thumbnails=1&transition=3&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
  </div>

  <div id="project-calendar">
    <section class="sectionTitle">Calendar</section>

    <div class="contentWrapper" id="wrapper">
      <iframe id="calendar" src="https://www.google.com/calendar/embed?src=4d8ao8d70avubj73u2ljehoq5o%40group.calendar.google.com&ctz=America/New_York" style="border: 0" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  <div id="project-discussion-board">
    <section class="sectionTitle">Discussion</section>
    <div class="contentWrapper" id="disqus_thread"></div>
  </div>

</div>

<script type="text/javascript">

  /*Sort of a janky way of doing things, but I am getting our JSON object this
  way through Handlebars.*/
  var project = {{{json project}}};

</script>

<script src="/javascripts/disqus.js"></script>
<script src="/javascripts/project.js"></script>
