<div class="project-list-container">
<button class="btn" id="create-project"> +Create</button>

  {{#each projects}}
    {{> projectListItem}}
  {{/each}}
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/javascripts/projects.js"></script>