<div id="project-container">

  {{!-- These are toggled buttons. --}}
  <button class="button-to-edit">Edit here!</button>
  <button class="button-save-changes" style="display:none;">Click here to save!</button>

  <div id="project-cover-image">
    <div id="project-title" class="can-edit-text">{{project.title}}</div>
    {{!-- TODO: Change this into uploaded dynamic canvas. --}}
    <img src="http://lorempixel.com/1200/400/"></img>
  </div>
  
  <div id="project-members"></div>
  
  <div id="project-description" class="can-edit-text">{{{project.description}}}</div>
  
  <div id="project-gallery"></div>
  
  <div id="project-calendar"></div>
  
  <div id="project-discussion-board">
    <div id="disqus_thread"></div>
  </div>

</div>

<script type="text/javascript">

  /*Sort of a janky way of doing things, but I am getting our JSON object this 
  way through Handlebars.*/
  var project = {{{json project}}};

</script>

<script src="/javascripts/disqus.js"></script>
<script src="/javascripts/project.js"></script>