<div class="project-list-container">
{{#if buildPage}}
  <button class="btn" id="create-project"> +Create</button>
{{/if}}
  {{#each projects}}
    {{> projectListItem}}
  {{/each}}
</div>

<script src="/javascripts/projects.js"></script>
