<div class="project-list-container">
<button class="btn" id="create-project"> +Create</button>

  {{#each projects}}
    {{> projectListItem}}
  {{/each}}
</div>

<script src="/javascripts/projects.js"></script>
