/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

* {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.54); }

html body {
  padding: 0px;
  margin: 0px;
  margin-top: 80px; }

nav {
  border-radius: 0px; }

.project-list-container {
  width: 100%; }

.project-card {
  width: 60%;
  margin: 20px auto 0 auto;
  border: 1px solid black; }

.project-cover {
  position: relative;
  height: 200px;
  background-size: 100% 100%;
  vertical-align: bottom; }

.project-title {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 auto;
  padding: 5px;
  transform: translateY(50%) translateX(-50%);
  background-color: rgba(150, 150, 150, 0.9);
  text-align: center;
  color: white;
  font-size: 1.5em; }

.project-info {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px 0 0 0;
  height: 120px; }

.member-icon {
  width: 70px;
  height: auto; }
