/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
nav, button#button-to-edit, button#button-save-changes, div#project-cover-image, div#project-title, .contentWrapper, div#project-members, section.sectionTitle, div#project-calendar > #wrapper, .profile-container, .profile-container > #photo, #profile-projects-list {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

button#button-to-edit, button#button-save-changes {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

button#button-to-edit:hover, button#button-save-changes:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-container #description-wrapper {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; }

.profile-container, .profile-container > #photo {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; }

div#project-cover-image, .profile-container > #photo {
  overflow: hidden;
  position: relative; }

div#project-cover-image > img, .profile-container > #photo > img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

/* Responsive iFrame */
div#project-calendar > #wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

div#project-calendar > #wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

html {
  color: rgba(0, 0, 0, 0.54); }
  html body {
    background-color: #ececec;
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center; }
  @media only screen and (max-width: 768px) {
    html body {
      width: 95%; } }

nav {
  border-radius: 0px; }

[contenteditable="true"] {
  border: 4px dotted #F44336; }

.hidden {
  display: none; }

#create-project {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 100; }

.project-list-container {
  width: 100%; }

.project-card {
  width: 60%;
  min-width: 320;
  margin: 20px auto 0 auto;
  border: 1px solid black; }

.cover-container {
  position: relative; }

.project-cover {
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: bottom; }

.project-title {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 auto;
  padding: 5px;
  transform: translateY(50%) translateX(-50%);
  background-color: rgba(150, 150, 150, 0.9);
  text-align: center;
  color: white;
  font-size: 1.5em; }

.project-info {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px 0 0 0;
  height: 120px; }

.member-icon {
  width: 70px;
  height: auto; }

button#button-to-edit, button#button-save-changes {
  display: block;
  width: 56px;
  height: 56px;
  border: 0px;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 20px;
  transition: 0.1s ease-in-out; }
  button#button-to-edit:hover, button#button-save-changes:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    cursor: pointer; }

.navbar-default {
  background-color: #1976D2;
  border-color: #1E88E5; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1E88E5; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #1E88E5; }
  .navbar-default .navbar-toggle {
    border-color: #1E88E5; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #1E88E5; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1E88E5; } }

div#project-container {
  margin: 0px auto;
  text-align: left; }

button#button-to-edit, button#button-save-changes {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 20px; }

button#button-to-edit {
  background-color: #F44336;
  color: white; }

button#button-save-changes {
  background-color: #4CAF50;
  color: white; }

div#project-cover-image {
  width: 100%;
  height: 300px; }

div#project-title, section.sectionTitle {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px; }

div#project-title {
  font-size: 32pt;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  z-index: 9;
  bottom: 0; }

.contentWrapper {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px; }

div#project-members {
  background-color: #9E9E9E;
  height: 100px; }

section.sectionTitle {
  font-size: 16pt;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: inline-block; }

div#project-description {
  margin-top: 20px; }
  div#project-description > article {
    font-weight: 14pt; }

.profile-container {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  max-width: 900px; }
  .profile-container #description-wrapper {
    text-align: left;
    margin-left: 20px;
    white-space: nowrap; }
    .profile-container #description-wrapper > #organizations-list {
      white-space: normal; }
  .profile-container > #photo {
    min-width: 120px;
    min-height: 120px; }

#profile-projects-list {
  background-color: white;
  padding: 20px; }
