/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

* {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.54); }

html body {
  padding: 0px;
  margin: 0px;
  margin-top: 80px; }

nav {
  border-radius: 0px; }

[contenteditable="true"] {
  border: 1px dotted gray; }
