* {
  font-family: 'Montserrat', sans-serif;
  color: palette(Black, Secondary Text);
}

html {

  body {
    padding: 0px;

    margin: 0px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    text-align:center;
  }
}

nav {
  border-radius: 0px;
  @extend %sh1;
}

[contenteditable="true"] {
  border: 1px dotted gray;
}
